main{flex-direction: column !important;}
h1{text-align: center;
    
}
.dados-contato{
    background-color: #202020 ;
    border: 5px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.dados-lista{
    flex-direction: column;
    gap: 16px;
}
iframe{
    max-width: 100%;
}
.dados-lista ul{
    padding-left: 8px;
}

@media screen and (max-width;700px) {.dados-contato {
    grid-template-columns: 1fr;
}
    
.dados-lista{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}
}